<div id="banner" class="outer">
  <div class="inner">
    <h2 id="banner-title">Just Sharing Something About Embeded Development,<br>Blog powered by hexo.</h2>
    <div id="banner-getting-started">
      <span id="banner-getting-started-prefix">$</span>
      <input id="banner-getting-started-input" type="text" value="" > 
      <a href="http://www.google.com" id="banner-getting-started-btn" target="_blank">SEARCH!</a>

    </div>
    <div id="banner-share">
      <%- partial('_partial/share') %>
    </div>
  </div>
</div>

<%- page.content %>