<!-- GitHub Star -->
<iframe src="http://ghbtns.com/github-btn.html?user=m2cloud&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
<!-- Google +1 button -->
<div class="g-follow" data-href="//plus.google.com/117793266171930404951" data-rel="author"></div>